* {
	box-sizing: border-box;
}

body {
	background: #621402;
	font-family: 'Roboto', sans-serif;
	color: white;
}

.conteiner {
	max-width: 1170px;
	margin: auto;
	width: 90%;
}

.header {
	padding-bottom: 60px;
	background: linear-gradient(180deg, rgba(98, 20, 2, 0.31) 0%, #621402 85.62%), url(img/bg.jpg) no-repeat center top / cover;
}



.m_menu{
	display: none;
}

.navbar {
	display: flex;
	align-items: center;
	padding-top: 30px;
	padding-bottom: 30px;
}

.nav {
	position: relative;
}

.menu {
	list-style-type: none;
	display: flex;
	margin: 0;
	margin-left: 17px;
}

.menu_item {
	margin-right: 25px;
}

.menu_link { 
	color: white;
	text-decoration: none;
}

.user {
	margin-left: auto;
	color: white;
	display: flex;
	align-items: center;
}

.avatar{
	width: 33px;
	height: 33px;
	border-radius: 50%;
	margin-left: 11px;
}

.film {
	color: white;
	margin-top: 60px;
	display: flex;
	align-items: center;
}

.film_title_small {
	opacity: 0.5;
	font-size: 24px;
	line-height: 150%;
}

.film_title {
	font-size: 36px;
	line-height: 42px;
	margin-top: 11px;
	margin-bottom: 23px;
}

.film_description {
	font-size: 16px;
	line-height: 150%;
	max-width: 560px;
}

.film_treiler {
	margin: auto;
}

.film_ditails {
	display: flex;
	align-items: center;
	margin-top: 50px;
}

.time {
	display: flex;
	align-items: center;
}

.time_icon {
	margin-right: 14px;
}

.rating {
	display: flex;
	align-items: center;
	margin-left: 34px;
}

.rating_current {
	font-size: 24px;
	line-height: 150%;
}


.rating_icon {
	margin-right: 14px;
}

.session {
	padding-top: 46px;
	padding-bottom: 63px;
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	margin-top: 62px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.session_lable {
	display: block;
	margin-bottom: 20px;
}

.session_date_block {
	display: flex;
}

.session_date_item {
	cursor: pointer;
	display: flex;
	flex-direction: column;
	border: 1px solid rgba(225, 225, 225, 0.5);
	box-sizing: border-box;
	border-radius: 5px;
	text-align: center;
	width: 90px;
	height: 90px;
	align-items: center;
	justify-content: center;
	margin-right: 15px;

	transition: background-color 0.2s;
}

.session_month {
	font-size: 16px;
	line-height: 19px;
}

.session_day {
	font-size: 30px;
	line-height: 35px;
	font-weight: 900;
}

.session_week {
	font-size: 19px;
	line-height: 22px;
}

.session_date_item:hover {
	background-color: #FE8E05;
	color: #621402;
}

.select {
	background: rgba(255, 255, 255, 0.15);
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 5px;
	padding: 18px;
	color: white;
	cursor: pointer;
	margin-top: 33px;
}

.select_cinema {
	width: 470px;
}

.scheme {
	margin-bottom: 40px;
	background: rgba(36, 36, 36, 0.18);
	border-radius: 10px;
}

.scheme_svg {
	max-width: 1170px;
}

.scheme path:not(.light) {
	fill: rgba(225, 225, 225, 0.2);
	cursor: pointer;
}

.scheme path:not(.light):hover {
	fill: rgba(225, 225, 225, 0.5);
}

.scheme path.booked, .scheme path.booked:hover {
	fill: rgba(225, 225, 225, 0.05);
	cursor: not-allowed;
}

.scheme path.active, .scheme path.active:hover {
	fill: #fe8e05;
}

.legend {
	display: flex;
	align-items: center;
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	max-width: 1024px;
	width: 90%;
	margin: auto;
	padding-top: 22px;
	padding-bottom: 38px;
}

.legend_label {
	display: flex;
	align-items: center;
	margin-right: 30px;
	color: rgba(255, 255, 255, 0.5);
}

.legend svg {
	margin-right: 15px;
}

.price {
	padding-top: 75px;
	padding-bottom: 140px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.price_label {
	display: block;
	font-size: 18px;
	line-height: 21px;
}

.price_tag {
	font-size: 52px;
	line-height: 61px;
}

.btn {
	display: block;
	background: #FE8E05;
	border-radius: 5px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	line-height: 21px;
	text-decoration: none;
	padding: 24px 52px;
}

@media (max-width: 1200px) {
	.conteiner {
		max-width: 960px;
	}

	.select_cinema {
		width: 100%;
	}
} 

@media (max-width: 992px) {
	.conteiner {
		max-width: 750px;
	}

	.session {
		flex-wrap: wrap;
	}

	.session_data {
		flex-basis: 70%;
		margin-bottom: 40px;
	}

	.session_time {
		order: 2;
	}

	.session_cinema {
		order: 3;
	}

	.menu_item {
		margin-right: 20px;
	}
}

@media (max-width: 768px) {
	.conteiner {
		max-width: 560px;
	}

	.menu {
		position: absolute;
		left: 0;
		top: 40px;
		padding: 20px;
		margin-left: 20px;
		flex-direction: column;
		background-color: #621402;
		z-index: 9;
		border-radius: 10px;
		opacity: 0;
		visibility: hidden;
		transform: translateY(20%);
		transition: opacity 0.5s, transform 0.5s;
	}

	.menu_item:not(:last-child) {
		margin-bottom: 10px;
	}

	.m_menu {
		display: block;
		background-color: transparent;
		border: none;
		width: 40px;
		height: 40px;
		margin-left: 10px;
		cursor: pointer;
	}

	.is-open {
		opacity: 1;
		visibility: visible;
		transform: translateY(0);
	}

	.film_description {
		margin-right: 30px;
	}

	.film {
		flex-direction: column;
	}

	.film_treiler {
		margin-right: auto;
		margin-left: 0;
		margin-top: 40px;
	}
}












